git+https://github.com/botswana-harvard/edc-base.git
git+https://github.com/botswana-harvard/edc-constants.git
git+https://github.com/botswana-harvard/edc-prn.git@develop#egg=edc_prn 
git+https://github.com/botswana-harvard/django-revision.git@develop#egg=django_revision   
git+https://github.com/botswana-harvard/edc-device.git@develop#egg=edc_device  
git+https://github.com/botswana-harvard/edc-identifier.git@develop#egg=edc_identifier  
git+https://github.com/botswana-harvard/edc-protocol.git@develop#egg=edc_protocol 
git+https://github.com/botswana-harvard/edc-appointment.git@develop#egg=edc_appointment 
git+https://github.com/botswana-harvard/edc-visit-schedule.git@develop#egg=edc_visit_schedule 
git+https://github.com/botswana-harvard/edc-facility.git@develop#egg=edc_facility 
git+https://github.com/botswana-harvard/edc-lab.git@develop#egg=edc_lab 
git+https://github.com/botswana-harvard/edc-label.git@develop#egg=edc_label
git+https://github.com/botswana-harvard/edc-visit-tracking.git@develop#egg=edc_visit_tracking 
git+https://github.com/botswana-harvard/edc-model-admin.git@develop#egg=edc_model_admin 
git+https://github.com/botswana-harvard/edc-action-item.git@develop#egg=edc_action_item 
git+https://github.com/botswana-harvard/django-crypto-fields.git@develop#egg=django_crypto_fields
git+https://github.com/botswana-harvard/edc-reports@develop#egg=edc_reports
git+https://github.com/botswana-harvard/edc-model-wrapper.git
git+https://github.com/botswana-harvard/edc-death-report.git
git+https://github.com/botswana-harvard/edc-registration.git
git+https://github.com/botswana-harvard/edc-offstudy.git
git+https://github.com/botswana-harvard/edc-metadata.git
git+https://github.com/botswana-harvard/edc-reference.git
git+https://github.com/botswana-harvard/edc-dashboard.git
git+https://github.com/botswana-harvard/edc-consent.git
git+https://github.com/botswana-harvard/edc-metadata-rules.git
git+https://github.com/botswana-harvard/edc-timepoint.git
git+https://github.com/botswana-harvard/edc-fieldsets.git@develop#egg=edc_fieldsets